input {
    width: 100px;
    display: inline-block;
    margin-left: 10px
}

.description {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 300px;
    height: 34px;
    font-family: sans-serif;
    font-size: 18px;
    align-self: auto;
}

.amount {
    display: inline-block;
    box-sizing: border-box;
    position: relative;
    width: 150px;
    height: 34px;
    font-size: 18px;
    font-style: normal;
    font-family: sans-serif;
    align-self: auto;
    text-align: left;
}

.minus-button {
    width: 30px;
    margin-left: 10px;
    font-style: bold;
    font-size : 20px
}

tr {
    padding-left: 80px;
}

@media screen and (max-width:400px) {
    .description {
        width: 100%;
        border-bottom-width: 1px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        margin-left: 0px;
        align-self: left;
    }
    .amount {
        width: 100%;
        border-bottom-width: 1px;
        border-top-width: 0px;
        border-left-width: 0px;
        border-right-width: 0px;
        margin-left: 0px;
        align-self: left;
    }
    
    tr {
        padding-left: 0px;
    }
    
    tbody {
        margin-left: 0px;
    }
    .minus-button {
    width: 30px;

}
}