label {
    width:180px;
    text-align:center;
    font: bold 12px sans-serif !important;
    display: inline-block;
}

input {
    display: inline-block;
    width: 180px;
    font-size: 16px;
}

@media screen and (max-width:420px) {

label, input {
	width: 100%;
}
}