.submit {
    font-style: bold 16px sans-serif !important;
    background-color: green;
    width: 100px;
    font-size : 20px
}

@media screen and (max-width:420px) {

.invoice, button {
	width: 100%;
}
}