.invoice {
	align-items: center;
}

button {
    align-items: left;
    align-content: center;
    width: inherit;
    float: left;
    margin-left: 35%;
}

@media screen and (max-width:420px) {

.invoice, button {
	width: 100%;
}
}